button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}

button {
  background: white;
  color: #5851ff;
  margin: 8px;
  border: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 10px;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.08);
  outline: 0;
  letter-spacing: .04em;
  transition: all .15s ease;
  cursor: pointer;
}
  
button:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,.1), 0 0 1px rgba(0,0,0,.1);
  transform: translateY(1px);
}

button:last-of-type {
    margin-right: 0;
}

button.active {
  background: #5851ff;
  color: white;
}