header, footer {
  background: #5851ff;
  color: white;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em 0 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

h1 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  padding: 0 12px;
}

footer {
  background: #eceff1;
  color: rgba(0,0,0,0.87);
  position: absolute;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
}
